
{% extends 'BorrowersHomeBundle::layout.html.twig' %}

{% block content %}
<div class="row">
    
<div class="span2">
<a class="btn btn-info" href="{{ path('issue') }}">List</a>
 
</div>       
  
<div class="span1">        
<form action="{{ path('issue_delete', { 'id': issue.id }) }}" method="post">
            {{ form_widget(delete_form) }}
            <button class="btn btn-danger" type="submit">Delete</button>
</form>
</div>
 
</div>        


<div class="row">   
    <div class="span4 well">  
        <form action="{{ path('issue_update', { 'id': issue.id }) }}" method="post" {{ form_enctype(edit_form) }} novalidate="novalidate">
            {{ form_widget(edit_form) }}
        <div>
            <button class="btn" type="submit">Edit</button>
        </div>
        </form>
    </div>
</div>
{% endblock %}
