{% extends 'BorrowersIssueBundle::layout.html.twig' %}

{% block content %}

    <div class="col-sm-12 well">
        <form action="{{ path('issue_update', { 'id': issue.id }) }}" method="post" {{ form_enctype(edit_form) }} novalidate="novalidate">
            {{ form_widget(edit_form) }}
        <div>
            <button class="btn btn-default margintop" type="submit">Update</button>
        </div>
        </form>
        <hr/>
        <form action="{{ path('issue_delete', { 'id': issue.id }) }}" method="post">
            {{ form_widget(delete_form) }}
            <button class="btn btn-danger" type="submit">Delete</button>
        </form>    
    </div>

{% endblock %}
