{% extends 'BorrowersIssueBundle::layout.html.twig' %}

{% block content %}
    <div class="col-sm-12 well">
        <a class="btn btn-default" href="{{ path('issue_new') }}">New Issue</a>
    </div>


    <div class="col-sm-12">
        <table class="table">
            <tbody>
            {% for issue in issues %}
                <tr>
                    <td><a class="" href="{{ path('issue_show', { 'id': issue.id }) }}">{{ issue.issue }} {{ issue.title |raw }}</a></td>
                    <td>{% if issue.display == 0 %}Development{% elseif issue.display == 1 %}Archive{% elseif issue.display == 2 %}Previous{% else %}Current{% endif %}</td>
                    <td><a class="btn btn-default"
                                                                                                               href="{{ path('issue_edit', { 'id': issue.id }) }}">edit</a>
                    </td>
                </tr>

            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
