
{% extends 'BorrowersHomeBundle::layout.html.twig' %}

{% block content %}
 

<div class="well">
<h3>{{ issue.title | raw}}</h3>
<h4>{{ issue.description }}</h4>
<h2>{{ issue.subtitle }}</h2>
<h4>{{ issue.editors }}</h4>
<div class="row margintop">
<div class="span2">   
<a class="btn btn-primary" href="{{ path('issue_edit', { 'id': issue.id }) }}">Edit</a>
</div>       
<div class="span1">        
<form action="{{ path('issue_delete', { 'id': issue.id }) }}" method="post">
            {{ form_widget(delete_form) }}
            <button class="btn btn-danger" type="submit">Delete</button>
</form>
</div>   
</div> 
</div>           

    {% for section in issue.sections %} 
     
         <div class="span10 well">
             <div class="c">
             <h4>{{ section.title }}</h4> 
             <h5>{{ section.description }} </h5>        
             <a class="btn btn-primary pull-right" href="{{ path('section_edit', { 'id': section.id }) }}">Edit</a>

         <table class="table">    
         <tbody>
         {% for file in section.files %} 
         <tr>             
         <td><a class="" href="{{ path('file_display', { 'id': file.id }) }}">{{ file.title |raw }}</a></td>        
         <td>{{ file.path }}</td>                   
         <td><a class="btn btn-primary" href="{{ path('file_edit', { 'id': file.id }) }}">Edit</a>
         </td>       
         </tr>
         {% endfor %}
         </tbody>
         </table>
         
         </div>
     </div>     
    {% endfor %}


</div>          
{% endblock %}
