{% extends '::prod_base.html.twig' %}

{% block body %}
    <table>
        <tr>

            <td>
                <!-- ===================================TOC================================ -->
                <!-- main toc -->
                <p align='right'>ISSN 1554-6985</p>

                <p class='toc1' style="padding:7px;">{{ issue.title | raw }}</p>

                <p class='toc2' style="padding:7px;">{{ issue.description }}</p>

                <p class='toc1' style="padding:7px;">{{ issue.subtitle }}</p>


                <p class='toc2' style="padding:7px;">EDITED BY</p>

                <p class='toc4' style="padding:7px;">{{ issue.editors }}</p>

                <p class='toc2' style="padding:7px;">CONTENTS</p>


                <table>

                    {% for section in issue.sections %}
                        {% if section.title != 'Default' %}
                            <tr>
                                <!-- section -->
                                <td colspan='2' style="padding:7px;">
                                    <p class='toc3'>{{ section.title| raw }}</p>

                                    <p class='toc3'>{{ section.description }}</p>
                                </td>
                            </tr>
                        {% endif %}

                        {% for file in section.files if file.display==1 %}

                            <tr>
                                <td style="padding:7px;">
                                    <a
                                       href="{{ path('file_show', { 'id': file.id }) }}">{{ file.title |raw }}</a>
                                    <a class="" href="{{ path('file_pdf', { 'id': file.id }) }}">(pdf)</a>
                                </td>
                                <td style='text-align:left;padding:7px;'>
                                    {% for author in file.authors %}{{ author.firstname | raw }} {{ author.lastname | raw }} {% endfor %}
                                </td>
                            </tr>
                        {% endfor %}
                    {% endfor %}
                </table>

                <!-- ===================================end of TOC================================ -->
            </td>
        </tr>
    </table>

{% endblock %}