{% extends '::prod_base.html.twig' %}

{% block body %}
          <div class="bodycell" style="width:400px;padding:10px; float:left">


                <h3 class='about'><i>Borrowers and Lenders: The Journal of Shakespeare and
                        Appropriation</i></h3>



                <p><i>Borrowers and Lenders: The Journal of Shakespeare and Appropriation</i> is a peer-reviewed,
                    online, multimedia journal that welcomes original scholarship engaging with the afterlives of
                    Shakespearean texts and their literary,
                    filmic, multimedia, and critical histories. It encourages contributors to use the online format to
                    its best advantage, in particular,
                    by imagining how to enhance or illustrate their essays with multimedia (screen captures, sound
                    clips, images, and so on). <i>B&amp;L</i> won the CELJ's
                    "Best New Journal" Award in 2007. <i>B&amp;L</i> is fully indexed in the MLA Bibliography. <i>B&amp;L</i>
                    is currently co-edited by Dr. Christy Desmet (cdesmet[at]uga.edu)
                    and Dr. Sujata Iyengar (iyengar[at]uga.edu); correspondence should be addressed to
                    lenders[at]uga.edu or to Managing Editor Ms. Maria Chappell
                    (machapp[at]uga.edu).</p>


            </div>
            <!-- white background cell -->
            <div style="width:400px;padding:10px; float:left">
                {% for issue in issues %}
                    <a class="" href="{{ path('issue_toc', { 'id': issue.id }) }}"><p
                                class='toc3'>{{ issue.title | raw }}</p></a>
                    <a class="" href="{{ path('issue_toc', { 'id': issue.id }) }}"><p
                                class='toc2'>{{ issue.description }}</p></a>
                    <a class="" href="{{ path('issue_toc', { 'id': issue.id }) }}"><p
                                class='toc3'>{{ issue.subtitle }}</p></a>
                    <hr/>
                {% endfor %}
            </div>

{% endblock %}