
{% extends 'BorrowersIssueBundle::layout.html.twig' %}

{% block content %}
   <div class="col-sm-12 well">
      <a class="btn btn-default" href="{{ path('author_new') }}">New Author</a>
   </div>


<div class="col-sm-12">
<table class="table">   
<tbody>
    {% for entity in entities %}
    <tr>   
        <td><a class="" href="{{ path('author_show', { 'id': entity.id }) }}">{{ entity.lastname }}, {{ entity.firstname }}</a></td>
        <td>{{ entity.institution }}</td>                  
        <td><a class="btn btn-default" href="{{ path('author_edit', { 'id': entity.id }) }}">Edit</a>
</td>       
    </tr>
    
    {% endfor %}
    </tbody>
</table>
</div>
{% endblock %}
