{% extends 'BorrowersIssueBundle::layout.html.twig' %}

{% block content %}

    <div class="col-sm-12">
        <table class="table">
            <tbody>

            <tr>
                <th>Firstname</th>
                <td>{{ entity.firstname }}</td>
            </tr>
            <tr>
                <th>Lastname</th>
                <td>{{ entity.lastname }}</td>
            </tr>
            <tr>
                <th>Institution</th>
                <td>{{ entity.institution }}</td>
            </tr>
            <tr>
                <th>Bio</th>
                <td>{{ entity.bio|raw }}</td>
            </tr>
            </tbody>
        </table>

        <form  action="{{ path('author_delete', { 'id': entity.id }) }}" method="post">
            {{ form_widget(delete_form) }}
            <button class="btn btn-danger pull-right" type="submit">Delete</button>
        </form>

        <a class="btn btn-default" href="{{ path('author_edit', { 'id': entity.id }) }}">Edit</a>


    </div>
{% endblock %}
